main {
	max-width: 1280px;
	margin: 0 auto;
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

main h2 {
	font-size: 4rem;
	margin: 10px;
}

section {
	display: flex;
	align-items: center;
	flex-direction: column;
}

div.section-bar {
	width: 100%;
	padding: 5px 10px;
	cursor: pointer
}

div.collapsible-bar {
	background-color: #2b3a70;
}

div.section-bar * {
	pointer-events: none;
	user-select: none;
}

.collapse div:not(.collapsible-bar) {
	display: none;
}

div.carousel {
	width: 100%;
	display: flex;
	align-items: center;
}

div.carousel .carousel-btn {
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	cursor: pointer;
	text-align: center;
	flex: 0 0 auto;
	font-size: 1.6rem;
	user-select: none;
}

ul.itens {
	display: flex;
	list-style: none;
	width: 100%;
	padding: 20px;
	gap: 20px;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

ul.itens li {
	display: flex;
	flex-direction: column; 
	align-items: center; 
	text-align: center; 
	gap: 10px; 
	
	scroll-snap-align: center;
	font-size: 2 rem;
	list-style-type: none;
	padding: 20px;
	box-sizing: content-box;
	flex: 0 0 auto;
}

/*ul.itens li:nth-child(even) {
	background-color: teal;
}*/


ul.itens img {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	object-fit: cover;
	object-position: center;
}

#borda-top {
	width: 120px;
	height: 30px;
	transform: scaleY(-1);
}

#borda-bottom {
	width: 120px;
	height: 30px;
	transform: rotate(180deg);
	transform: scaleX(-1);
}

main h3{
	margin: 10px;
}

.current{
	position: relative;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-bottom: 20px;
}

.membro-atual{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	object-fit: cover;
	z-index: 0;
	position: absolute;
}

.membro-borda{
	width: 180px;
	height: 180px;
	z-index: -1;
	align-items: center;
}

.side-by-side {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.capitania{
	display: flex;
	flex-direction: row;
	padding: 40px;
}

.capitania h3 {
	transform: translate(-200%, 50%);
	background-color: #2b3a70;
	padding: 10px;
	border-radius: 10px;
}