body {
	overflow-x: hidden;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
}

body>* {
	scroll-snap-align: start;
}


section {
	height: calc(100vh - 80px);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: space-evenly;
	align-items: center;
	margin: 0 auto;
}

section img {
	width: 100%;
}

section>div {
	margin: 10px 100px;
}

#zima {
	justify-content: space-evenly;
}

#zima div.action-text {
	max-width: 400px;
	margin: 0;
}

.img-projetos {
	width: 450px;
	height: 450px;
	min-width: 450px;
	min-height: 450px;
	position: relative;
	margin: 60px;
	padding: 0;
}

.img-projetos .gradient {
	width: 120%;
	height: 120%;
	top: -15%;
	left: -0%;
	background: #E47EB2;
	background: radial-gradient(circle, rgba(113, 0, 166, 1) 0%, rgba(228, 126, 178, 1) 20%, rgba(253, 23, 140, 1) 30%, rgba(113, 0, 166, 1) 45%, rgba(113, 0, 166, 0) 60%);
}

.img-projetos img {
	width: 210px;
	height: 210px;
	position: absolute;
	border-radius: 12%;
	object-fit: cover;
	object-position: center;
	z-index: 1;
}

.img-projetos img#ciclo {
	top: 10px;
	left: 10%;
	transform: rotate(5deg);
	z-index: 1;
}

.img-projetos img#hema {
	top: 160px;
	left: 35%;
	transform: rotate(-5deg);
	z-index: 2;
}

.img-projetos img#golgi {
	top: 20px;
	left: 65%;
	transform: rotate(-5deg);
	z-index: 1;
}


div.action-text {
	display: flex;
	flex-direction: column;
	flex: 0.5;
	text-align: left;
	align-items: flex-start;
	justify-content: space-evenly;
}

div.action-text h2 {
	font-size: 8rem;
	line-height: 1;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

div.action-text a {
	font-size: 3.2rem;
	line-height: 1.5;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
	margin-top: 25px;
}

#projetos {
	flex-direction: column;
	max-width: 1100px;
}

#projetos div {
	width: 100%;
	margin: 30px;
	margin-bottom: 40px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}

#projetos div.action-text p {
	font-size: 3.8rem;
	margin-top: 10px;
	text-align: justify;
	line-height: 1.5;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.projetos-buttons {
	margin-top: -30px; /* Move buttons up */
	display: flex;
	gap: 20px;
	justify-content: center;
	transition: background-color 0.3s ease-out;
	font-size: 2.4rem;
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
	border-radius: 10px;
}

#quem-somos .img-membros {
	margin: 0;
	flex: 0.5;
	max-height: 90vh;
	max-width: 20vw;
	object-fit: cover;
	object-position: 10% center;
	align-self: stretch;
	-webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
	mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}


#quem-somos>div {
	margin: 0px 50px;
}

#quem-somos div {
	align-self: stretch;
	flex: 1;
	margin-top: -80px;
}

#quem-somos div.action-text h2{
	font-size: 4.8rem;
	line-height: 1.2;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-bottom: 5px;
}

#quem-somos div.action-text {
	margin: 0;
	padding: 0 25px;
	font-size: 1rem;
}

#quem-somos .pilares h3 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 2.4rem;
	height: 100px;
	margin: 10px 0;
	margin-top: 50px;
	margin-bottom: -10px;
}

#quem-somos .pilares {
	height: 300px;
	overflow: hidden;
	text-align: center;
	justify-content: space-evenly;
}

#quem-somos .pilares div {
	width: 100%;
	max-width: 30vw;
	padding: 100px 10px;
}

#quem-somos .pilares div img {
	width: 60%;
	max-height: 25vh;
	object-fit: cover;
	object-position: top;
	align-items: stretch;
	-webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
	mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

#quem-somos .logos {
	align-items: center;
	text-align: center;
	padding: 30px;
	margin-top: 70px;
}

#quem-somos .logos img {
	width: 100%;
	max-width: 120px;
	min-width: 100px;
	margin: 10px;
}

#quem-somos .text {
	flex: 4;
	margin: 0 10px;
	align-items: flex-start;
}

#quem-somos .text h2 {
	text-align: left;
	margin: 60px;
}

#quem-somos .text p {
	font-size: 2.1rem;
	line-height: 1.5;
	text-align: justify;
	font-family: 'poppins', sans-serif;
	font-weight: 300;
	font-style: normal;
	margin-top: 30px;
}

#equipe {
	justify-content: space-evenly;
	margin-bottom: -100px;
	margin-top: 20px;
}

.img-membros img {
	width: 330px;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	margin: 0;
}

div.img-equipe {
	flex: 0;
}

div.img-equipe h2 {
	margin-bottom: -120px;
	text-transform: capitalize;
	font-size: 4.0rem;
	text-align: center;
}

div.img-equipe div {
	width: 350px;
	height: 350px;
	border-radius: 25%;
	margin: 10px;
	position:relative;
}

div.img-equipe div img#imagem-equipe {
	width: 100%;
	height: 100%;
	border-radius: 25%;
	object-fit: none;
	object-position: center;
	position:absolute;
	top: 40%;
	z-index: 1;
}

div.img-equipe div img#circuito-impresso-2 {
	width: 120%;
	height: 80%;
	position: relative;
	left: -60%;
	top: -30%;
	object-position: center;
	transform:rotateX(180deg);
	z-index: 0;
	opacity: 0.3;
	-webkit-mask-image: linear-gradient(to top, black 80%, transparent 100%);
	mask-image: linear-gradient(to top, black 80%, transparent 100%);
}

.gradient {
	width: 115%;
	height: 115%;
	background: #E47EB2;
	background: radial-gradient(circle, rgba(228, 126, 178, 1) 0%, rgba(253, 23, 140, 1) 15%, rgba(113, 0, 166, 1) 30%, rgba(113, 0, 166, 0) 60%);
	position: absolute;
	top: -30%;
	left: -12.5%;
}

.integrantes {
	width: 500px;
	height: 500px;
	min-width: 500px;
	min-height: 500px;
	position: relative;
	margin: 0;
	padding: 0;
}

.integrantes p.button {
	position: absolute;
	top: -10%;
	left: -10px;
	z-index: 2;
	font-family: 'poppins', sans-serif;
	font-weight: 200;
	z-index: 2;
}

.integrantes img {
	position: absolute;
	border-radius: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 1;
}

.integrantes img#membro1 {
	width: 200px;
	height: 200px;
	top: -20px;
	left: 50px;
	transform: rotate(-5deg);
	object-fit: cover;
	object-position: center center;
}

.integrantes img#membro2 {
	width: 130px;
	height: 130px;
	top: 20px;
	left: 260px;
	transform: rotate(0deg);
}

.integrantes img#membro3 {
	width: 150px;
	height: 150px;
	top: 180px;
	left: 120px;
	transform: rotate(0deg);
}

.integrantes img#membro4 {
	width: 90px;
	height: 90px;
	top: 160px;
	left: 280px;
	transform: rotate(0deg);
}

@media only screen and (max-width: 1100px) {

	section {
		height: calc(100vh - 148px);
	}

	body {
		scroll-padding-top: 148px;
	}

	.img-projetos {
		width: 350px;
		height: 350px;
		min-width: 350px;
		min-height: 350px;
	}

	.img-projetos img {
		width: 200px;
		height: 200px;
	}

	div.action-text {
		align-items: center;
		text-align: center;
	}

	#quem-somos .pilares h3 {
		font-size: 3.2vw;
	}

	#quem-somos .text p {
		font-size: 2.0rem;
	}

	#equipe {
		flex-direction: column;
	}

	div.img-equipe {
		margin: 5px;
	}

	div.img-equipe div {
		width: 200px;
		height: 200px;
		border-radius: 25%;
		margin: 10px;
	}

	.integrantes {
		width: 450px;
		height: 450px;
		min-width: 450px;
		min-height: 450px;
		margin: 5px;
	}

	.integrantes img#membro1 {
		width: 200px;
		height: 200px;
		top: 20px;
		left: 20px;
		transform: rotate(15deg);
	}

	.integrantes img#membro2 {
		width: 150px;
		height: 150px;
		top: 200px;
		left: 20px;
		transform: rotate(0deg);
	}

	.integrantes img#membro3 {
		width: 120px;
		height: 120px;
		top: 20px;
		left: 200px;
		transform: rotate(0deg);
	}

	.integrantes img#membro4 {
		width: 90px;
		height: 90px;
		top: 200px;
		left: 200px;
		transform: rotate(0deg);
	}
}

@media only screen and (max-height: 900px) {
	section {
		height: auto;
	}
}

@media only screen and (max-width: 800px) {

	/*menu de navegação (mobile)*/

	/* disable snap scroll on mobile */
	/* body { */
	/* 	scroll-snap-type: none; */
	/* } */

	section {
		height: auto;
		padding: 5px;
	}

	body {
		scroll-padding-top: 80px;
	}

	body>* {
		scroll-snap-align: start;
	}

	#zima {
		flex-direction: column;
	}

	.img-projetos {
		margin: 55px 0;
	}

	#projetos div {
		padding: 10px;
	}

	#projetos div.action-text p {
		font-size: 2.8rem;
		text-align: center;
	}

	#quem-somos .content {
		flex-direction: column;
	}

	#quem-somos .logos {
		flex-direction: row;
	}

	#quem-somos .pilares {
		flex-direction: column;
	}

	#quem-somos .pilares div {
		max-width: 100%;
	}

	#quem-somos .pilares h3 {
		font-size: 3.4rem;
	}

	#quem-somos .pilares img {
		height: 200px;
		object-fit: cover;
		object-position: top;
	}

	#quem-somos {
		flex-direction: column-reverse;
	}

	#quem-somos div {
		margin: 0;
	}
}
