main img {
	width: 100%;
	max-width: 400px;
}

main section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

main section > div {
	margin: 20px;
}

div.action-text {
	display: flex;
	flex-direction: column;
	flex: 0.5;
	text-align: left;
	align-items: flex-start;
}

div.action-text h2 {
	font-size: 6.0rem;
	line-height: 1;
}
