main {
	width: 100%;
	margin-top: -50px;
	max-width: 1280px;
	padding: 10px
}

section.select-parceiro {
	display:flex;
	flex-direction: column;
	gap: 20px;
	justify-content:center;
	padding: 20px;
	scale: 0.9;
}

section.select-parceiro #linha-1, #linha-2 {
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

section.select-parceiro #img-circuibras {
	top: 100px;
	left: -150px;
	position: relative;
	width: 150px;
	height: 150px;
}

section.select-parceiro #img-SW {
	top: 30px;
	left: -140px;
	position: relative;
	width: 120px;
	height: 120px;
}

section.select-parceiro #img-circuibras3 {
	top: 10px;
	right: -190px;
	position: relative;
	width: 150px;
	height: 150px;
}

section.select-parceiro #img-ADP {
	top: -150px;
	left: 40px;
	position: relative;
	width: 160px;
	height: 160px;
}

section.select-parceiro #img-Ansys {
	top: -80px;
	right: -240px;
	position: relative;
	width: 120px;
	height: 120px;
}

section.select-parceiro #img-circuibras7 {
	top: -320px;
	right: -110px;
	position: relative;
	width: 120px;
	height: 120px;
}

section.select-parceiro #img-circuibras8 {
	top: -130px;
	right: -80px;
	position: relative;
	width: 150px;
	height: 150px;
}

section.select-parceiro #img-central img {
    width: 200px;  /* Tamanho maior para destaque */
    height: 200px;
	position: relative;
	top: -20%;
    left: 42%;
}

section.select-parceiro img {
	width: 120px;
	height: 120px;
	object-fit: cover;
	object-position: center;
	border-radius: 100%;
	border: 4px solid white;
	transition: all 0.3s ease-out;
	cursor: pointer;
}

section.select-parceiro img#nuvem-background{
	border-radius: 0%;
	border: none;
	width: 300px;  /* Tamanho maior para destaque */
    height: 300px;
	position: absolute;
	top: 20%;
    left: 38%;
	z-index: -1;
}

section.select-parceiro img:hover {
	transform: scale(1.2);
	border-color: #FC466B;
}

section.info-parceiro {
	display: none;
	flex-direction: column;
}

section.info-parceiro.selected {
	display: flex;
	margin-top: -300px;
	margin-bottom: 90px;
}

section.info-parceiro h1 {
	font-size: 4.2rem;
	padding: 15px 5px;
	color: #9340FF;
}

section.info-parceiro > div {
	display: flex;
	padding: 10px;
	gap: 25px;
}

section.info-parceiro > div > div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 4;
}

section.info-parceiro div p {
	font-size: 2rem;
	text-align: justify;
	line-height: 1.5;
	flex: 6;
	font-family: "poppins", sans-serif;
	margin-top: 30px;
}

h2 {
	font-size: 4.0rem;
	margin: 10px;
	font-family: "Lexend Deca", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 450;
  	font-style: normal;
}

div p {
	font-size: 2rem;
	text-align: justify;
	line-height: 1.5;
	flex: 6;
	font-family: "poppins", sans-serif;
	margin-top: 30px;
}

section.info-parceiro img#linha-branca {
	width: 20vw;
	height: auto;
	object-fit: cover;
	object-position: center;
	transform: rotate(180deg);
	transform: rotateX(180deg);
	margin-top: 120px;
	margin-bottom: -60px;
}
