main {
	max-width: 1280px;
	margin: 0 auto;
	padding: 20px;
}

main p {
	font-size: 1.7rem;
	line-height: 1.5;
	margin: 10px;
	text-align: justify;
	font-family: "poppins", sans-serif;
	margin-bottom: 30px;
}

main section {
	display: flex;
	align-items: center;
}

section div.content {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

section div.content img {
	height:auto;
	width:190px;
	transform: translateX(-10px);
}


div.title {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 30px;
	margin: 20px 0px;
	max-width: 32vw;
	border-top-left-radius: 90px;
	border-bottom-left-radius: 90px;
	height: 80px;
	background: linear-gradient(90deg, var(--gradColor1), var(--gradColor2));
	font-family: "open sans", sans-serif;
	font-size: 3.2rem;
	font-weight: 500;
}

div.img {
	/* background: red; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom:20px;
	margin-right: 20px;
	min-width: 400px;
	width: 300px;
	height: 400px;
	gap: 8px;
}

div.img img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

#legenda {
	font-size: 1.2rem;
}

#hema-velho{
	position: relative;
	top: 60px;
}

#hema-modulo1{
	transform:scale(1.9);
}

#ciclo-sem-fundo{
	transform:scale(1.7)
}

#golgi{
	transform: scale(1.7);
}

#mini-golgi{
	position: relative;
	top: 30px;
}

div.caption {
	/* width: 90vw; */
	/* height: 70vh; */
	/* margin-top: -400px; */
	min-width: 250px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.caption div.imagem {
	position: relative;
	max-width: 250px;
	min-width: 200px;
	width: 100%;
}

div.caption div.imagem img#circle-frame{
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
	width: 250px;
	height: 250px;
}

div.caption div.imagem img#medico {
    object-fit: cover; /* Mantém proporção */
    object-position: center;
	width: 215px;
	height: 215px;
	border-radius: 50%;
	margin: calc((250px - 215px)/2);
	/* position: relative; */
	/* justify-content: center; */
	/* border-radius: 50%; */
	/* top: 255px; */
	/* left: 25%; */
}

div.caption h3{
	font-size: 2.0rem;
	font-family: "open sans", sans-serif;
	letter-spacing: 1px;
	text-align: center;
}

div.caption p {
	font-size: 2.0rem;
	font-family: "open sans", sans-serif;
	letter-spacing: 1px;
	text-align: center;
}

div p#quote {
	font-size: 2.0rem;
	font-family: "open sans", sans-serif;
	letter-spacing: 1px;
	text-align: center;
	padding: 20px;
}

div p#saiba-mais{
	text-align: center;
}

div#buttons {
	margin-top: 30px;
	display: flex;
	gap: 20px;
	justify-content: center;
	transition: background-color 0.3s ease-out;
	font-size: 2.4rem;
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
	border-radius: 10px;
}

div.carousel svg *{
	pointer-events: none;
}

.carousel{
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.carousel-btn {
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	cursor: pointer;
	text-align: center;
	flex: 0 0 auto;
	font-size: 2rem;
	user-select: none;
	color: white;
}

div.carousel ul{
	display: flex;
	list-style: none;
	width: 100%;
	padding: 10px;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

div.carousel ul li {
	display: block;
	scroll-snap-align: center;
	font-size: 2.5rem;
	list-style-type: none;
	padding: 10px;
	box-sizing: content-box;
	flex: 0 0 auto;
	position: relative;
	width: 300px;
	text-align: left;
}

.linha_do_tempo{
	display: flex;
	flex-direction: column;
	margin-top:30px;
	margin-bottom: 30px;
}

.side-by-side{
	display:flex;
	flex-direction: row;
	align-items: stretch;
	margin: 20px;
}

.lateral{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.lateral .img-wrapper{
	width: 60px;   
	height: 100px; 
	position: relative;
	margin-top: auto; 
}

.lateral .img-wrapper img{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 60px;
	transform: translate(-50%, -50%) rotate(90deg);
}

.lateral .svg-wrapper{
	flex: 1;                  /* ocupa todo o espaço vazio acima da imagem */
	container-type: size;     /* habilita unidades cqh nos filhos */
	position: relative;
	width: 100%;
}

.lateral .svg-wrapper svg{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100cqh;
	height: 50px;
	transform: translate(-50%, -50%) rotate(90deg) scaleY(2); /* engorda sem mudar comprimento */
}

.lateral h2{
	background-color: #2b3a70;
	padding: 10px;
	border-radius: 30px;
	width: 200px;
	margin-left: 50px;
	align-self: baseline;
}

.conteudo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 20px;
}