main {
	max-width: 1280px;
	margin: 0 auto;
	padding: 15px;
}

main h2 {
	font-size: 4.0rem;
	margin: 10px;
	font-family: "Lexend Deca", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 450;
  	font-style: normal;
}

section img {
	width: 100%;
}

section div {
	padding: 5px;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.images {
	position: relative;
	width: 300px;
	min-width: 300px;
	min-height: 300px;
	height: 300px;
}

.line {
	border: 1px solid #21345D;
	align-self: stretch;
	margin: 10px 10px;
	padding: 0;
}

.images img {
	object-fit: cover;
	object-position: center;
	position: absolute;
	border-radius: 8%;
}

.images img#img1h {
	width: 180px;
	height: 180px;
	top: 150px;
	left: 10px;
	z-index: 1;
}

.images img#img2h {
	width: 200px;
	height: 300px;
	bottom: 50px;
	left: 110px;
	z-index: 2;
}

.images img#img1c {
	width: 223px;
	height: 220px;
	bottom: 120px;
	right: 130px;
	border-radius: 100%;
	z-index: 1;
}

.images img#img2c {
	width: 210px;
	height: 180px;
	bottom: 100px;
	left: 90px;
	z-index: 0;
}

.images img#img3c {
	width: 280px;
	height: 200px;
	top: 160px;
	right: 40px;
	z-index: -1;
}

.images img#img1g {
	width: 200px;
	height: 200px;
	bottom: 120px;
	right: 100px;
	z-index: 0;
}

.images img#img2g {
	width: 150px;
	height: 200px;
	bottom: 150px;
	left: 210px;
	z-index: 1;
}

.images img#img3g {
	width: 280px;
	height: 280px;
	top: 100px;
	left: 40px;
	z-index: 2;
}

.images img#img1cm {
	width: 180px;
	height: 180px;
	bottom: 140px;
	right: 180px;
	z-index: 0;
}

.images img#img2cm {
	width: 250px;
	height: 150px;
	bottom: 30px;
	right: 0px;
	z-index: 0;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	min-width: 600px;
  	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 350;
  	font-style: normal;
}

.text h3 {
	font-size: 3.2rem;
	align-self: flex-start;
	margin: 15px;
	font-family: "Lexend Deca", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
}

.text p.button {
	margin: 10px;
}

.text p {
	font-size: 2.4rem;
	line-height: 1.5;
	margin: 10px;
}

#hema {
	margin-bottom: 70px;
}

#ciclo {
	flex-direction: row-reverse;
	margin-bottom: 70px;
}

#golgi {
	margin-bottom: 70px;
}

#cinemec {
	flex-direction: row-reverse;
	margin-bottom: 50px;
}

@media only screen and (max-width: 1100px) {
	.line {
		display: none;
	}

	.text {
		min-width: 100%;
	}
}

@media only screen and (max-width: 800px) {
	main {
		margin: 0;
		padding: 0;
	}
}
