main {
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
}

main p {
	font-size: 2.4rem;
	line-height: 1.5;
	margin: 10px;
	text-align: justify;
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 350;
  	font-style: normal;
  	font-size: 2rem;
}

section {
	padding: 30px;
}

.about {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.about .img {
	flex: 2;
	display: flex;
	justify-content: center;
}

.about .img img {
	width: 200px;
	height: 100%;
	object-fit: cover;
}

.about .info {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 3;
	overflow-x: hidden;
}

.about .info p {
	padding: 20px;
}

.about .info img {
	width: 128px;
}

.about .info .logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about .info .logo div.title {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.about .upper-logo {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: border-box;
}

.about .upper-logo img {
	width: 170px;
	max-width: 100%;
	height: auto;
	margin: 0 200px;
	object-fit: contain;
	opacity: 0.5;
	filter:
		brightness(0)      /* Converte para preto */
        invert(1)         /* Inverte para branco */
        brightness(1.2)   /* Ajusta o brilho final */
        contrast(1.1);    /* Melhora a definição */
}

.about .info .logo div.title img {
	width: 400px;
    max-width: 100%;
    height: auto;
    margin: 0;
    object-fit: contain;
}

.about .info .logo div.subtitle {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 30px;
	border-radius: 30px;
	border: 2px solid white;
	font-size: 1.3rem;
	font-family: "Bebas Neue", sans-serif;
  	font-weight: 100;
  	font-style: normal;
	word-spacing: 20px;
	letter-spacing: 10px;
}

div.stats {
	background-color: red;
	padding: 10px;
	border-radius: 15px;
	background: linear-gradient(90deg, #024AAD, rgba(0, 0, 0, 0));
	flex: 2;
	z-index: -2;
	flex: 0 0 35%;
}

div.stats > div {
	position: relative;
}

div.stats > div p {
	top: 30px;
	left: 40px;
	position: absolute;
	text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.7);
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 350;
  	font-style: normal;
  	font-size: 2rem;
}

div.stats h3 {
	color: #39D5FF;
	font-size: 9.5rem;
	text-shadow: 4px 4px 0px #9340FF;
	opacity: 0.5;
	font-family: "Open Sans", sans-serif;
}

div.content {
	flex: 2;
}

.pilares h3 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 2.4rem;
	height: 100px;
	margin: 0px 0;
}

.pilares {
	height: 450px;
	overflow: hidden;
	text-align: center;
	justify-content: space-evenly;
	align-items: unset;
}

.pilares div {
	width: 100%;
}

.pilares div img {
	width: 130px;
	object-fit: cover;
	object-position: top;
	align-items: baseline;
}

.pilares div img#pilar-magenta {
	transform:translateY(0px);
	mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
	mask-position: 0 290px;
}
.pilares div img#pilar-lavender {
	transform:translateY(50px);
	mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
	mask-position: 0 240px;
}
.pilares div img#pilar-blue {
	transform:translateY(100px);
	mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
	mask-position: 0 224px;
}

.pilares div h2 {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 2.2rem;
	margin: 0 0;
	letter-spacing: 1px;
}

.pilares div h3 {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: normal;
	font-size: 1.5rem;
}

.pilares div h2#h2-magenta{
	transform:translateY(50px);
}
.pilares div h3#h3-magenta{
	transform:translateY(20px);
}

.pilares div h2#h2-lavender{
	transform:translateY(80px);
}
.pilares div h3#h3-lavender{
	transform:translateY(60px);
}

.pilares div h2#h2-blue{
	transform:translateY(130px);
}
.pilares div h3#h3-blue{
	transform:translateY(110px);
}

div.nossa-historia p{
	padding: 50px 200px;
}

div.nossa-historia h2{
	padding: 20px;
	font-size: 3.5rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-style: normal;
	color: transparent;
    -webkit-text-stroke: 1px white;
}

/* make sure only the svg element dispatches the mouse click event */
div.carousel svg * {
	pointer-events: none;
}

div.carousel#historia {
	width: 100%;
	display: flex;
	align-items: center;
}

div.carousel#historia .carousel-btn {
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	cursor: pointer;
	text-align: center;
	flex: 0 0 auto;
	font-size: 2rem;
	user-select: none;
	color: white;
}

div.carousel#historia ul{
	display: flex;
	list-style: none;
	width: 100%;
	padding: 10px;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

div.carousel#historia ul li {
	display: block;
	scroll-snap-align: center;
	font-size: 2.5rem;
	list-style-type: none;
	padding: 10px;
	box-sizing: content-box;
	flex: 0 0 auto;
	position: relative;
	width: 300px;
	text-align: left;
}

.carousel#historia ul li h3 {
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 1550;
  	font-style: normal;
	letter-spacing: 3px;
}

.carousel#historia ul li p {
	text-align: left;
}

div.carousel#images {
	width: 100%;
	display: flex;
	align-items: center;
}

div.carousel#images .carousel-btn {
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	cursor: pointer;
	text-align: center;
	flex: 0 0 auto;
	font-size: 1.6rem;
	user-select: none;
}


div.carousel#images ul{
	display: flex;
	list-style: none;
	width: 100%;
	padding: 10px;
	gap: 100px;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

div.carousel#images ul li {
	width: 400px;
	border-radius: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	scroll-snap-align: center;
	list-style-type: none;
	padding: 15px;
	box-sizing: content-box;
	flex: 0 0 auto;
}

.carousel ul li h3 {
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 1550;
  	font-style: normal;
	letter-spacing: 3px;
}

.carousel ul li p {
	text-align: left;
	font-size: 1.6rem;
}

div.carousel#images ul li:nth-child(3n) {
	background-color: #024aad;
	background-image: linear-gradient(180deg, #4d02ad, #101728);
}

div.carousel#images ul li:nth-child(3n+1) {
	background-color: #024aad;
	background-image: linear-gradient(180deg, #ad199e, #101728);
}

div.carousel#images ul li:nth-child(3n+2) {
	background-color: #024aad;
	background-image: linear-gradient(180deg, #024aad, #101728);
}


div.carousel#images ul img {
	width: 100%;
	height: 150px;
	border-radius: 30px;
	object-fit: cover;
	object-position: center;
}
