@charset "UTF-8";

/*fonts*/

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Playfair+Display&family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Barra de rolagem*/

body {
	overflow: auto;
	font-size: 1.6em;
}

::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
}

::-webkit-scrollbar-thumb {
	background: #FC466B;
	/* border-radius: 50px; */
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
	background: rgba(116, 116, 116, 0.5);
}

::selection {
	background: #FC466B;
	color: white;
}

html {
	font-size: 10px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	width: 100%;
	height: 100%;
	/* display: flex; */
	flex-direction: column;
	font-family: 'Roboto', arial, sans-serif;
}

img {
	width: 100%;
}

/*cores*/

h1,
header p,
footer {
	color: white;
}

body {
	background-color: #131d34;
	color: white;
}

a {
	text-decoration: none;
}

header,
nav,
footer {
	background: #131d34;
}

nav li:hover {
	background-color: #FC466B;
}

.error h1 {
	color: black;
	font-size: 10rem;
}

#btnTheme circle {
	fill: #191919;
}

span.magenta {
	font-weight: bold;
	color: #FD178C
}

span.lavender {
	font-weight: bold;
	color: #AD3DE1
}

span.blue {
	font-weight: bold;
	color: #3283EF
}

/*cabeçalho*/

header a,
nav a {
	text-decoration: none;
}

header {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	position: sticky;
	top: 0;
	border-bottom: 2px solid #21345D;
	z-index: 10;
}

header h1 {
	font-family: "onepiecefont", serif;
	font-size: 4.0rem;
	margin-left: 25px;
	font-weight: normal;
	transition: all 0.3s ease-out;
}

/*menu de navegação (desktop)*/

nav {
	/* width: 100%; */
	display: flex;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	padding: 10px 0;
	align-items: center;
	flex-direction: row;
}

.menuTop {
	position: fixed;
	top: 0;
	z-index: 20;
}

nav ul {
	list-style: none;
	display: flex;
}

nav>ul {
	list-style: none;
	text-align: center;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
}

header a {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 5px 10px;
	flex-shrink: 1;
}

header>a img {
	width: 64px;
}

nav>ul li {
	background-color: #21345D;
	border-radius: 16px;
	white-space: nowrap;
	margin: 5px 10px;
	transition: background-color 0.3s ease-out;
}

nav p {
	font-size: 1.8rem;
	padding: 8px 15px;
}

/*ativação menu mobile*/

.top,
.mid,
.bottom {
	width: 0;
	height: 0px;
}

.mid {
	margin: 5px 0;
}

.btn_menu {
	width: 0px;
	height: 0px;
	position: absolute;
	top: 14px;
	left: 14px;
	padding: 10px;
	z-index: 10;
	cursor: pointer;
	box-sizing: content-box;
}

.btn_menu,
.top,
.mid,
.bottom {
	transition: transform 0.3s ease-out;
}


/*conteúdo principal da página*/

.container-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.flex-nowrap {
	flex-wrap: nowrap;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

@property --gradColor1 {
	syntax: '<color>';
	initial-value: rgba(147, 64, 255, 1);
	inherits: false;
}

@property --gradColor2 {
	syntax: '<color>';
	initial-value: rgba(255, 60, 95, 1);
	inherits: false;
}

p.button {
	background-color: #FF3C5F;
	background: linear-gradient(90deg, var(--gradColor1), var(--gradColor2));
	border-radius: 24px;
	padding: 10px 30px;
	margin: 10px;
	white-space: nowrap;
	font-size: 2.8rem !important;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease-out, --gradColor1 0.3s ease-out, --gradColor2 0.3s ease-out;
}

p.button:hover {
	--gradColor1: rgba(255, 60, 95, 1);
	--gradColor2: rgba(147, 64, 255, 1);
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}

footer {
	width: 100%;
	box-sizing: border-box;
	font-size: 2.0rem;
	display: flex;
	flex-direction: column;
	background-color: #21345D;
}

footer div.social {
	display: flex;
	justify-content: space-evenly;
}

footer div.img-abstrata {
	height: 400px;
	width: 400px;
	padding: 20px;
}

footer div.img-abstrata img {
	height: 100%;
	width: 100%;
}

footer div.social div.links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer div.social div.links h2 {
	font-size: 6.4rem;
	color: #9340FF;
	/* change font for now, since roboto don't work well with stroke */
	font-family: Arial, Helvetica, sans-serif;
	-webkit-text-fill-color: #9340FF;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: white;


	/* text-shadow: 0px 0px 0px rgba(255, 255, 255, 1.0); */
}

footer div.social div.links img {
	width: 128px;
}

footer div.social div.icon {
	display: flex;
	margin: 10px;
	width: 350px;
	align-items: center;
	position: relative;
}

footer div.social div.top-border {
	width: 80%;
	position: absolute;
	top: 0px;
	right: 0px;
	border-top: 4px solid white;
	border-radius: 15px;
}

footer div.social div.icon h3 {
	max-width: 200px;
	margin: 0 auto;
}

footer div.contato {
	padding: 20px;
	background: linear-gradient(90deg, #004AAD, #E385EC);
}

footer a {
	color: white;
	text-decoration: underline;
	font-weight: bolder;
}

@media only screen and (max-width: 1100px) {

	header {
		height: 148px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	nav {
		flex-direction: column;
	}
}

@media only screen and (max-width: 800px) {

	/*menu de navegação (mobile)*/

	header {
		height: 80px;
	}

	nav {
		position: fixed;
		top: 0px;
		left: -100%;
		width: 100%;
		height: 100%;
		transition: all 0.3s ease-out;
		overflow-y: auto;
		z-index: 9;
	}

	nav ul {
		position: absolute;
		width: 100%;
		top: 72px;
	}

	nav ul {
		max-height: 100%;
	}

	nav ul li {
		width: 100% !important;
	}

	nav p {
		font-size: 4.0rem;
	}

	/*ativação menu lateral*/

	.btn_menu {
		width: 32px;
		height: 32px;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.top,
	.mid,
	.bottom {
		background: white;
		width: 100%;
		height: 5px;
		border-radius: 40px;
	}

	.on .btn_menu {
		transform: rotate(270deg);
	}

	.on nav {
		transform: translateX(100%);
	}

	.on .btn_menu .top {
		transform: rotate(45deg) translate(7px, 7px)
	}

	.on .btn_menu .mid {
		opacity: 0;
		transform: scale(0)
	}

	.on .btn_menu .bottom {
		transform: rotate(-45deg) translate(7px, -7px)
	}

	p.button {
		flex: 1;
	}
}
